body {
    background-image: url(photos/quietColdLake.jpg);
    background-size: cover;
}

.panel {
    background-color: #A3B2BE;
    opacity: 0.8;
}

.jumbotron {
    background-color: #A3B2BE;
    opacity: 0.8;
    padding: 20px;
    margin-top:170px;
}
.table {
    padding: 5px;
}
